input[type = button]{
    background-color:blue;
    border: none;
    color: white;
    height: 50px;
    width: 50px;
    text-decoration: none;
    margin: 6px 6px;
    cursor: pointer;
    font-size: 20px;
}

table{
    border-collapse: collapse;
    border:5px solid blue;
  
}

td{
    display:table-cell;
}

button{
    background-color:blue;
    border: none;
    color: white;
    height: 50px;
    width: 150px;
    text-decoration: none;
    margin: 6px 6px;
    cursor: pointer;
    font-size: 20px;
}

#winner{
    display: none
}

#draw{
    display: none
}
